{% extends 'base.html' %} 
{% block content%}
{% load static %}

<br><div class="container" style="width: 80%; margin: 0 auto">
  <div class="card card-body">
    <img src="{% static 'images/email_sent.gif' %}" alt="" height="300px" width="80%" style="margin-left: 100px;">
    <h1 class="text-center">Password reset link sent</h1> 
    <h5 class="text-center">We’ve emailed you instructions for resetting your password.</h5><br>
    <p class="text-center">If you don't receive an email, please make sure you've entered the email you registered with, and check your spam folder.</p>

    <div class="text-center">
      <a href="{% url 'user_login' %}">&#8630;Back to login</a>
    </div>
  </div>
</div><br>
{% endblock%}