{% extends 'base.html' %} 
{% block content%}
<br><div class="container w-75">
  <div class="card card-body">
    <div class="text-center" >
      <h4 class="text-center" style="margin-bottom: 0;">RESET YOUR PASSWORD HERE</h4>
      <p class="text-center">Please set your new password so we can verify your password....!</p>
      <hr>
    </div><br/>
    <div id="restaurant-sets-holder">
      <form action="" method="POST" class="form-fields-set foodbakery-dev-restaurant-form">
        {% csrf_token %} 
        <div class="row">
          <div class="col">
            <ul >
              <li style="list-style-type: none;">
                <div class="col-md-10">
                  <label>New password</label>{{ form.new_password1 }} 
                  <div class="help_text" id="id_new_password1_helptext">
                    <ul>
                      <li>Your password can’t be too similar to your other personal information.</li>
                      <li>Your password must contain at least 8 characters.</li>
                      <li>Your password can’t be a commonly used password.</li>
                      <li>Your password can’t be entirely numeric.</li>
                    </ul>

                  </div>
                </div>
              </li>
              <li style="list-style-type: none;">
                <div class="col-md-10">
                  <label>New password confirmation</label>{{ form.new_password2 }} 
                  <ul class="errorlist">
                    <li hidden>The two password fields didn’t match.</li>
                  </ul>
                </div>
              </li>
            </ul>
            <input type="text" id="a">
            <li style="list-style-type: none;">
              <div class="col-md-10" style="margin: 10px;margin-left: 30px;">
                  <div class="payment-holder">
                      <input type="submit" value="Reset Password" id="btn-next-restaurant-information" class="bgcolor" style="margin: 0px;" onclick="check()">
                      <script>
                        function check(){
                            password = document.getElementById('a').textContent
                            console.log(password)
                        }
                      </script>
                  </div>
              </div> 
            </li>
          </div>
        </div>
      </form>
    </div>
  </div>
</div><br>

<div class="text-center" style="width: 80%; margin: 0 auto">
  <h1>Password Reset Form</h1>
  <h6 style="width: 60%; margin: 0 auto">
    Please enter your new password so we can verify.
  </h6>
</div>
<br />

<form action="" method="POST">
  {% csrf_token %} 
  <div class="col-md-10">
    <label>Email</label>{{form}}
  </div>
      <a href=""><input type="submit" value="Reset Password"/></a>
</form>

{% endblock%}