{% extends 'base.html' %} 
{% block content%}

<!-- <br>
<div class="container w-50">
    <div class="card card-body">
        <div class="text-center" style="width:550px;">
            <h4 class="text-center" style="margin-bottom: 0;">PASSWORD RESET</h4>
            <p class="text-center">Enter your registered email address to reset your password....!</p>
            <hr>
        </div><br/>
        <form action="" method="POST" class="form-fields-set foodbakery-dev-restaurant-form">
            {% csrf_token %}
            <div class="col-md-10">
                <label>Email</label><input type="email" name="email" placeholder="Enter your email" required> <br><br>
                <input type="submit" value="Reset Password"  class="btn btn-info" ><br>
            </div><br><br>
        </form>
        <div class="text-center">
            <a href="{% url 'user_login' %}" text-decoration="" >&#8630; Back to Login</a> 
        </div>
    </div>
</div><br> -->

<div class="main-section" class="page-section nopadding cs-nomargin" style="margin: 0px;padding-top: 60px;padding-bottom: 60px;">
    <div class="container">
        <div class="row">
            <div class="col" >
                <div class="user-dashboard loader-holder" style="width:550px;">
                    <h4 class="text-center" style="margin-bottom: 0;">PASSWORD RESET HERE</h4>
                    <p class="text-center">Enter your registered email address to reset your password....!</p>
                    <hr>
                    <div id="restaurant-sets-holder">
                        <form class="form-fields-set foodbakery-dev-restaurant-form" method="POST" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <ul>
                                        <li>
                                            <div class="col-md-10">
                                                <label>Email</label><input type="email" name="email" placeholder="Enter your email" required> 
                                            </div>
                                        </li><br>
                                        <li>
                                            <div class="col-md-10" style="margin: 0px;">
                                                <div class="payment-holder">
                                                    <input type="submit" value="Reset Password" id="btn-next-restaurant-information" class="bgcolor" style="margin: 0px;">
                                                </div>
                                            </div> 
                                        </li>
                                        <li>
                                            <div class="text-center">
                                                <a href="{% url 'user_login' %}" text-decoration="" >&#8630; Back to Login</a> 
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                {% include 'includes/alerts.html' %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}